:root{
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyanOne: hsl(186, 14%, 43%);
    --darkGrayishCyan: hsl(184, 14%, 56%);
    --lightGrayishCyanOne: hsl(185, 41%, 84%);
    --lightGrayishCyan: hsl(189, 41%, 97%);
    --whiteH: hsl(0, 0%, 100%);
    --strongCyan: hsl(172, 67%, 45%);
}

*{
    magin:0;
    padding: 0;

}

body{
    background-color: var(--lightGrayishCyanOne);
    font-family: 'Space Mono', monospace;

    overflow: hidden;
}

header h2{
    text-align: center;
    color: var(--darkGrayishCyanOne);

    letter-spacing: 4px;
    line-height: 24px;
}

.container{
    width: 65%;

    margin: auto;
    margin-bottom: 2%;
    background-color: var(--whiteH);

    border-radius: 24px;
    padding: 32px;

    box-shadow: 4px 6px 8px -2px rgba(158, 156, 156, 0.534);
}

.content{
    display: flex;
}

.content h4{
    margin: 0;
}

/****************** Calculator */

.calculator{
    width: 50%;
    padding: 24px;

}

.calculator h4{
    color: var(--darkGrayishCyanOne);
}

.input-area{
    width: 95%;
    position: relative;
}

.input-area input{
    width: 100%;
    height: 30px;

    border-radius: 4px;
    border: none;
    padding: 8px;

    text-align: end;
    margin: 4px 0;

    background: var(--lightGrayishCyan);
    color: var(--veryDarkCyan);

    font-weight: 600;
    font-size: 1.6rem;

    transition: 400ms;


}

.input-area input:hover, .input-area input:focus{
    cursor: pointer;
    border: 1.5px solid var(--strongCyan);

    box-shadow: 2px 2px 8px -2px hsla(183, 98%, 23%, 0.404);
    transform: scale(1.05);


}

input.invalid{
    border: 2px solid red;
    color: red;
}

.title-calc{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.title-calc .error{
    color: red;
    font-weight: bold;
    display: none;
}

.input-area svg{
    position: absolute;
    top: 0;
    padding: 12px;

    margin: 5px 0;

}

.percents{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

    margin: 12px 0;
}

label.tips{
    width: 80%;
    max-width: 120px;

    padding: 8px;
    margin: 0.5em 0 0;
    
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    
    border-radius: 6px;
    display: inline-block;

    background-color:var(--veryDarkCyan);
    color: var(--whiteH);

    transition: 300ms;

}

label.tips:hover{
    cursor: pointer;
    background-color: var(--lightGrayishCyanOne);
    color: var(--veryDarkCyan);

    transform: scale(1.05);


    box-shadow: 4px 6px 8px -2px hsla(183, 98%, 23%, 0.404);
}

label.selected, #custom.selected{
    background-color:var(--strongCyan);
    color: var(--veryDarkCyan);
    
}

#custom{
    background-color:var(--lightGrayishCyan);
    color: var(--darkGrayishCyan);
}


#inpt-custom{
    width: 90%;
    height: 30px;
    
    margin-top: 2%;

    color: var(--veryDarkCyan);
    font-weight: bold;

    border-radius: 4px;
    border: 2px solid var(--strongCyan);
    
    transition: 400ms;

}

#inpt-custom:hover, #inpt-custom:focus{

    padding: 8px;

    transform: scale(1.05);
    box-shadow: 2px 2px 8px -2px hsla(183, 98%, 23%, 0.404);
}


/******************* Results */

.result{
    padding: 5%;

    width: 50%;

    border-radius: 16px;
    background-color:var(--veryDarkCyan);
}

.result h4{
    color: var(--whiteH);
}

.result p{
    margin: 0;
    color: var(--darkGrayishCyan);

    font-weight: 600;

}

#result-tip, #result-total{
    font-weight: bold;
    font-size: 3rem;
    color: var(--strongCyan);

}

.result-tip{
    margin-bottom: 12%;
}

.result-tip, .result-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset{
    width: 100%;
    margin-top: 30%;
}

#button-reset{
    width: 100%;
    
    padding: 12px;
    
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: bold;

    border-radius: 6px;
    border: none;

    box-shadow: 4px 2px 6px -2px hsl(183, 95%, 24%);

    background-color: var(--strongCyan);
    color: var(--veryDarkCyan);
    transition: 300ms;


}

#button-reset:hover{
    cursor: pointer;
    background-color: var(--lightGrayishCyanOne);

    padding: 14px;
    transform: scale(1.05);
}

@media(max-width:920px){
    html{
        font-size: 62.5%;
    }
    body{
        overflow: auto;
    }
    .container{
        padding: 5%;
    }
    .content{
        flex-direction: column;
        justify-content: center;

        padding: 0;
        margin: 0;
    }
    .calculator, .result{
        width: 90%;
    }

}

@media(max-width:430px){
    label.tips{
        padding: 5% 20%;
    }
}